#showcase{
  @media screen and (max-width: 768px){
    padding-left: 15px;
    padding-right: 15px;
  }
  .container {
    box-shadow: -3px 13px 35px 1px rgba(237,235,253,.75);
    padding-bottom: 107px;
    margin-top: 40px;
    z-index: 7;
    position: relative;
    background-color: white;

    @media screen and (max-width: 1200px){
      padding-bottom: 50px;
    }
    @media screen and (max-width: 768px){
      padding-bottom: 14px;
    }
    @media screen and (max-width: 414px){
      margin-top: 0;
    }
    h1 {
      font-size: 50px;
      font-family: $font-sans;
      font-weight: 700;
      text-align: center;
      margin-top: 92px;
      margin-bottom: 60px;
      letter-spacing: 0px;

      @media screen and (max-width: 1200px){
        margin-top: 55px;
        margin-bottom: 35px;
      }
      @media screen and (max-width: 992px){
        margin-top: 50px;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 768px){
        font-size: 45px;
        margin-top: 45px;
        margin-bottom: 0;
      }
      @media screen and (max-width: 414px){
        font-size: 35px;
        margin-top: 33px;
        margin-bottom: 0;
      }
      @media screen and (max-width: 320px){
        font-size: 29px;
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
    .cont {
      display:flex;
      flex-wrap: wrap;
      align-items: center;
      .showcase-wrap {
      width: 100%;
        .preload {
          margin: 0 auto;
        }
      }
    }

  }
  li {
    list-style: none;
  }
}
.flex-row {
  padding: 0px 65px;
  @media screen and (max-width: 768px) {
    padding: 15px 0 0 0;
  }
  .thumbnail {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    transition: box-shadow 0.3s ease;
    @media screen and (max-width: 1400px){
      margin: 0 0 30px;
    }
    //@media screen and (max-width: 768px) {
    //  margin: 0 15px 30px 15px;
    //  min-height: 473px;
    //}
    //@media screen and (max-width: 414px) {
    //  min-height: 330px;
    //  margin: 0 0 30px;
    //}

  }
}
.category-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  border-radius: 35px;
  ul {
    margin-left: 0;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 20px;
    max-width: 1110px;
    width: 100%;
    border-radius: 45px;
    box-shadow: -2px 9px 27px 2px rgba(221,223,224,.75);
    @media screen and (max-width: 414px) {
      margin-top: 25px;
    }
    li {
      font-size: 16px;
      font-family: $font-sans;
      font-weight: 600;
      list-style: none;
      display: inline-block;
      text-align: center;
      padding: 17px 35px;
      transition: color 0.3s ease,
      font-size 0.3s ease;
      @media screen and (max-width: 992px) {
        padding: 15px 20px;
      }
      @media screen and (max-width: 768px){
        padding: 11px 12px;
      }
      @media screen and (max-width: 640px){
        padding: 16px 10px 16px;
      }
      @media screen and (max-width: 414px){
        padding: 5px 10px;
      }
      &.active {
        outline: none;
        color: $main_color;
        font-size: 20px;
        text-shadow: 0px 11px 3px rgba(237,235,253,1);
        @media screen and (max-width: 640px){
          font-size: 17px;
        }
      }

      &:hover {
        outline: none;
        color: $main_color;
        cursor: pointer;
      }
    }
  }
}
#category_list {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  //padding-left: 15px;
  //padding-right: 15px;
  @media screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}
.slick-next {
  right: 3px;
}
.slick-prev {
  left: 3px;
}
//.slick-list.draggable {
//  padding-left: 15px;
//  padding-right: 15px;
//}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 11;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  &:active, &:hover, &:focus {
    border: none;
    outline: none;
    background-color: transparent;
  }
}
.slick-prev:before, .slick-next:before {
  font-family: FontAwesome;
  font-size: 25px;
  line-height: 1;
  opacity: .75;
  color: $dark_color;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 10px;

}
.slick-next:before {
  content: '\f105';
  //content: '→';
}

.slick-prev:before {
  content: '\f104';
  //content: '←';

}
.no-result.col-xs-12{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}