$main_color: #8c84f9;
$dark_color: #333;
$primary_color: #888;
$font-sans:  "open_sans";
$font-roboto: "roboto";
$font-montserrat: 'Montserrat', sans-serif;
$font-playfairdisplay: 'Playfair Display', serif;
$font-myriadpro: "MyriadPro";
$blue-dark: #3853d8;

$fonts-path: '../../fonts/';